/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/


.page {
  font-family: var(--main-font), Arial, Helvetica, sans-serif;
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--card-main-weight);
  padding-block-end: 100px;
}

.page:has(.continue-dialog[open]) {
  overflow-y: hidden; 
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  margin-block: 100px;
  border: 2px #000 solid;
  font-family: var(--accent-font);
  background-color: #fff;
  inline-size: var(--blocks-width);
  block-size: 327px;
}

.header-logo {
  margin-block-end: 20px;
  font-size: clamp(3.0625rem, 2.71rem + 1.50vw, 4.0625rem);
  text-transform: uppercase;
}

.header-title {
  font-size: clamp(0.875rem, 0.68rem + 0.85vw, 1.4375rem);
}

.section {

  margin-inline: auto;
  inline-size: var(--blocks-width);
}

.card {
  margin-block-end: 50px;
  border: 2px #000 solid;
  background-color: #fff;
}

.card-header {
  margin-inline: 10px;
  margin-block: 4px;
  font-weight: var(--card-title-weight);
  font-size: 1.125rem;
}

.card__image-container {
  position: relative;
}

.card__image {
  width: 100%;
}

.section .card:nth-child(2) .card__image {
  filter: contrast(200%);
}

.section .card:nth-child(3) .card__image {
  filter: blur(0.3rem);
}

.section .card:nth-child(4) .card__image {
  filter: grayscale(0.8);
}

.section .card:nth-child(5) .card__image {
  filter: saturate(250%);
}

.section .card:nth-child(6) .card__image {
  filter: hue-rotate(-90deg);
}

.section .card:nth-child(7) .card__image {
  filter: sepia(80%);
}

.section .card:nth-child(8) .card__image {
  filter: invert(0.2) saturate(600%) sepia(70%);
}

.image-label {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 1;
  opacity: 0.5;
  font-family: var(--accent-font), Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  text-transform: uppercase;
  text-shadow: 
    1px 1px 0 #fff,
    -1px 1px 0 #fff,
    1px -1px 0 #fff,
    -1px -1px 0 #fff;
  mix-blend-mode: hard-light;
}

@supports((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .image-label {
    text-shadow: none;
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
  }
} 

.card__text {
  padding-inline: 25px; 
  padding-block: 25px;  
}

.card__main-text {
  margin-block-end: 25px;
}

.card__button {
  display: flex;
  justify-items: end;
  justify-self: self-end;
  align-items: center;
  align-self: self-end;
  padding-inline-end: 25px;
  padding-block-end: 25px;
}

.card__icon-button {
  all: unset;
  width: 38px;
  height: 38px;
  margin-inline-end: 12px;
  transition: outline 0.3s ease;
}

.card__icon-button:focus-visible {
  outline: 2px var(--accent-color) solid;
}

.sparks {
  opacity: 0;
}

.contour {
  transition: fill linear 0.1s;
}

.main-body {
 fill: transparent;
 transition: fill linear 0.3s;
}

.core {
  transition: fill linear 0.3s 0.03s; 
}

.heart {
  transform-origin: center;
}

.is-liked .heart {
  animation: heart-scale 0.3s 0.1s ease-in;
}

.is-liked .sparks {
  animation: sparks-appearance 0.3s 0.3s ease-in;
}

.like-icon:hover .core {
  fill: var(--contour-color);
  transition: fill linear 0.3s 0s;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition: fill linear 0.3s 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-colour);
  transition: fill linear 0.3s 0s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-colour);
  transition: fill linear 0.3s 0.05s;
}


.like-icon.is-liked .contour {
  fill: var(--animation-fill-colour);
  transition: fill linear 0.3s 0.06s;
}

.like-icon.is-liked .main-body {
   fill: var(--animation-fill-colour);
  transition: fill linear 0.3s 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-colour);
  transition: fill linear 0.3s 0s;
}

.card__like-button {
  all: unset;
  position: relative;
  border: 2px solid #000;
  overflow: hidden; 
  text-align: center;
  transition: box-shadow 0.3s ease, border 0.3s ease; 
  block-size: 38px;
  inline-size: 130px;
  
}

button:not(.card__icon-button):focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
  outline: none;
}

button:not(.card__icon-button)::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
  block-size: 100%;
  inline-size: 100%;
} 

button:not(.card__icon-button):hover::before {
  transform: translateX(0);
  
}
.save-button {
  all: unset;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-inline: auto;
  border: 2px #000 solid; 
  padding-inline: 20px;
  padding-block: 17px;
  overflow: hidden;
  background: #fff;
  transition: box-shadow 0.3s ease;
}


.save-icon {
  width: clamp(1.3125rem, 1.90rem + -0.66vw, 1.75rem);
  height: clamp(1.3125rem, 1.90rem + -0.66vw, 1.75rem);
  fill: #fff; /*чтобы mix-blend-mode правильно работал*/
  mix-blend-mode: difference;
}



.button__text {
  justify-self: center;
  color: #fff; /*чтобы mix-blend-mode правильно работал*/
  font-family: var(--accent-font), Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  mix-blend-mode: difference;
}


.continue-dialog {
  padding-inline: clamp(1.875rem, 2.72rem + -0.94vw, 2.5rem);
  padding-block: 30px;
  inline-size: clamp(21.3125rem, 21.05rem + 1.13vw, 22.0625rem);
  block-size: 191px;
}

.dialog-content {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

.continue-dialog[open] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dialog-icon {
  flex-shrink: 0;
  width: 39px;
  height: 39px; 
}

.dialog-text {
  max-width: 234px;
  font-family: var(--accent-font), Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 150%;
  text-transform: uppercase;
}

.continue-dialog__button {
  all: unset;
  position: relative;
  border: 2px #000 solid;
  padding-block: 12.5px;
  overflow: hidden;
  font-family: var(--accent-font), Arial, Helvetica, sans-serif; 
  font-size: 0.875rem;
  text-align: center;
  text-transform: uppercase;
  background-color: #fff;
  transition: box-shadow 0.3s ease;
}

.continue-dialog::backdrop {
  background: rgba(0, 0, 0, 0.7);
}

@media (width >= 1440px) {
  .page:has(.continue-dialog[open]) {
    margin-inline-end: 17px;
  }

  .header {
    block-size: 368px;
  }

  .save-button {
    flex-direction: row;
  }

}